@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,div,th,span,tr {
        scrollbar-gutter: stable;
        font-family: Rubik, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.6px;
        white-space: nowrap;
    }
}